.about-us {
  padding-left: 30px;
  padding-right: 30px;
  &__descr {
    padding-top: 55px;
    margin-bottom: 25px;

    font-size: 17px;
    line-height: 20px;
    color: #000000;
    font-weight: bold;
    background-image: url("../img/icon-feature-1.svg");
    background-repeat: no-repeat;
    background-position: left top;
  }
  &__descr--2 {
      background-image: url("../img/icon-feature-2.svg");
  }
  &__descr--3 {
      background-image: url("../img/icon-feature-3.svg");
  }
  &__descr--4 {
      background-image: url("../img/icon-feature-4.svg");
  }
  &__descr--5 {
      background-image: url("../img/icon-feature-5.svg");
  }
  &__descr--6 {
      background-image: url("../img/icon-feature-6.svg");
  }
}
