.catalog-item {
  margin-bottom: 29px;
}

.catalog-item__wrapper {
  position: relative; //для кнопки корзины
  border: 1px solid #ededed;
  padding-top: 28px;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 28px;
}

.catalog-item__img img {
  vertical-align: bottom;
}

.catalog-item__header {
  color: #000000;
  text-decoration: none;
}

.catalog-item__header h2 {
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 17px;
}

.catalog-item__descr {
  margin-bottom: 19px;
  margin-top: 0;
  font-size: 13px;
  line-height: 30px;
}

.catalog-item__price {
  display: block;
  padding-top: 21px;
  border-top: 1px solid #ececec;
  font-weight: bold;
}

.catalog-item__add-to-cart-btn {
  font-size: 0;
  position: absolute;
  bottom: 28px;
  right: 27px;
  border: none;
  outline: none;
  background-color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 19px;
    bottom: 4px;
    right:0;
    background-image: url("../img/icon-cart.svg");
    background-position: center;
    background-repeat: no-repeat;

    cursor: pointer;
  }
}

.catalog-item__modal {
  width: 260px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 45px;
  margin: auto;
  background-color: #ffffff;
  border-top: 1px solid #c6c7c6;
  box-shadow: 0 5px 6px 0 #c6c7c6;

  &-header {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
  }

  &-fieldset {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 31px;

    legend {
      margin-bottom: 28px;
      text-align: center;
    }

    input[type="radio"] {
      display: none;

      &:checked + label {
        border-color: #63d1bb;
      }
    }

    label {
      .dib();
      width: 82px;
      padding-top: 13px;
      margin-right: 3px;
      height: 52px;
      box-sizing: border-box;

      font-size: 17px;
      font-weight: bold;
      text-align: center;

      border: 2px solid #ececec;

      cursor: pointer;
      outline: none;

      &:last-of-type {
        margin-right: 0;
      }

      &:hover {
        border-color: #c7c7c7;
      }

      &:active {
        border-color: #62d1ba;
      }
    }
  }

  &--closed {
    display: none;
  }

  &--opened {
    position: absolute;
    z-index: 99999999;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
  }
}

@media @tablet-width {
  .catalog-item {
    display: flex;
    margin-bottom: 54px;
  }

  .catalog-item__wrapper {
    display: flex;
    flex-direction: column;
    width: 334px;
    padding-top: 25px;
    padding-bottom: 26px;
  }

  .catalog-item__descr {
    font-size: 15px;
  }

  .catalog-item__header h2 {
    margin-bottom: 5px;
    font-size: 20px;
  }

  .catalog-item img {
    width: 334px;
    height: 334px;
  }

  .catalog-item__price {
    font-size: 17px;
    margin-top: auto;
    padding-left: 4px;
  }

  .catalog-item__add-to-cart-btn {
    bottom: 27px;
    right: 31px;
  }
}


@media @desktop-width {
  .catalog-item {
    flex-direction: column;
    margin-right: 51px;
    margin-bottom: 58px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .catalig-item__header {
    font-size: 20px;
  }

  .catalog-item__wrapper {
    width: 316px;
    box-sizing: border-box;
    min-height: 196px;
  }

  .catalog-item__img img {
    width: 316px;
    height: 462px;
  }

  .catalog-item__descr {
    margin-bottom: 14px;
  }

  .catalog-item__price {
    padding-left: 0;
  }
}
