.category {
  position: relative;
  z-index: 5;
}

.category__btn {
  position: relative;
  .dib();
  padding-top: 25px;
  padding-right: 180px;
  padding-left: 30px;
  padding-bottom: 30px;

  font-size: 19px;
  font-weight: bold;
  text-decoration: none;

  color: #ffffff;

  .icon-interior path,
  .icon-toy path {
    fill: rgba(20, 144, 128, 0.5);
  }

  &:hover {
    margin-top: -5px;
    padding-top: 25px;
    padding-bottom: 35px;

    .icon-interior path,
    .icon-toy path {
      fill: rgba(20, 144, 128, 0.7);
    }

  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    .icon-interior path,
    .icon-toy path {
      fill: rgba(20, 144, 128, 0.3);
    }

  }
}

.category__btn--left {
  background-color: #63d1bb;

  .icon-interior {
    position: absolute;
    top: 29px;
    right: 36px;
  }
  &:hover {
    background-color: #59d5bc;
  }
}

.category__btn--right {
  background-color: #56c3b2;

  .icon-toy {
    position: absolute;
    top: 31px;
    right: 33px;
  }

  &:hover {
    background-color: #46c1ae;
  }
}


@media @tablet-width {
  .category {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 0;
    background-color: #f8f8f8;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: no-repeat;
    background-position-y: 108px;
    background-size: 778px;
  }

  .category__btn {
    width: 334px;
    padding-top: 28px;
    padding-left: 36px;
    box-sizing: border-box;

    font-size: 20px;
    line-height: 30px;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: no-repeat;
    background-position-y: 107px;
    background-size: 778px;

    &--left {
      background-position-x: -14px;
    }
    &--right {
      background-position-x: -2px;
    }

    &:hover {
      padding-top: 28px;
      background-position-y: 112px;
    }
  }
}

@media @desktop-width {
  .category {
    margin-bottom: 74px;
    background-position-y: 105px;
    background-size: 1150px;
  }

  .category__btn {
    width: 525px;
    padding-right: 350px;
    background-size: 1150px;
    background-position-y: 104px;

    &--left {
      background-position-x: -46px;
    }
    &--right {
      background-position-x: 0;
    }

    &:hover {
      background-position-y: 109px;
    }
  }
}
