.category {
  position: relative;
  z-index: 5;
  // display: flex;
  // flex-direction: column;
  // margin-top: -75px;
}

.category__btn {
  .dib();
  padding-top: 25px;
  padding-right: 180px;
  padding-left: 30px;
  padding-bottom: 30px;

  font-size: 19px;
  font-weight: bold;
  text-decoration: none;

  color: #ffffff;
}

.category__btn--left,
.category__btn--right {
  &:hover {
    margin-top: -5px;
    padding-top: 25px;
    padding-bottom: 35px;
    background-position-y: 20px;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.category__btn--left {
  background-color: #63d1bb;
  background-image: url("../img/icon-interior.svg");
  background-position: 244px center;
  background-repeat: no-repeat;

  &:hover {
    background-color: #59d5bc;
  }
}

.category__btn--right {
  background-color: #56c3b2;
  background-image: url("../img/icon-toy.svg");
  background-position: 234px center;
  background-repeat: no-repeat;

  &:hover {
    background-color: #46c1ae;
  }
}


@media @tablet-width {
  .category {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 0;
    background-color: #f8f8f8;
  }

  .category__btn {
    width: 334px;
    padding-top: 28px;
    padding-left: 36px;
    box-sizing: border-box;

    font-size: 20px;
    line-height: 30px;

    &--left {
      background-position-x: 257px;
    }
    &--right {
      background-position-x: 240px;
    }

    &:hover {
      padding-top: 28px;
      background-position-y: 30px;
    }
  }
}

@media @desktop-width {
  .category__btn {
    width: 525px;
    padding-right: 350px;
  }
}
