.contacts {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.contacts .icon-flag {
  display: none;
}

.contacts__wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  margin-bottom: 37px;
  line-height: 30px;
}

.contacts__email {
  margin-bottom: 29px;
  flex-basis: 50%;
  min-height: 20px; //IE bug fixing
  a {
    margin-left: 25px;
    padding-bottom: 3px;
    color: #444444;
    text-decoration: none;
    border-bottom: 1px solid #62d1ba;

    &:hover {
      color: #46c1ae;
      border-bottom-color: #46c1ae;
    }
    &:active {
      color: rgba(70, 193, 174, 0.3);
      border-bottom-color: rgba(70, 193, 174, 0.3);
    }
  }
}

.contacts__address {
  flex-basis: 50%;
  min-height: 90px; //IE bug fixing
  span {
    .dib();
    margin-left: 27px;
    width: 70%;
  }
}

.contacts__map {
  margin-bottom: 33px;
}

@media @tablet-width {
  .contacts {
    width: 768px;
    margin-bottom: 57px;
    position: relative;
  }

  .contacts .icon-flag {
    position: absolute;
    top: -16px;
    right: 53px;
    display: block;
  }

  .contacts__wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }

  .contacts__info {
    flex-direction: row;
    margin-bottom: 55px;
    font-size: 17px;
  }

  .contacts__map {
    margin-bottom: 49px;
    img {
      width: 100%;
    }
  }

  .contacts__email {
    a {
      margin-left: 20px;
    }
  }

  .contacts__address {
    span {
      margin-left: 21px;
    }
  }
}

@media @desktop-width {
  .contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1150px;
    height: 568px;
    padding-left: 225px;
    padding-right: 50px;
    padding-top: 41px;
    margin-bottom: 35px;
  }

  .contacts .icon-flag {
    position: absolute;
    top: 101px;
    left: 113px;
  }

  .contacts__wrapper {
    order: 1;
    width: 349px;
    padding: 0;

    &--bottom {
      order: 2;
    }
  }

  .contacts__info {
    flex-direction: column;
    margin-bottom: 79px;
  }

  .contacts__map {
    order: 3;
    img {
      width: 525px;
    }
  }
}
