.page-main {
  width: 320px;
  margin: 0 auto;
}

.page-main__wrapper {
  width: 260px;
  margin: 0 auto;
}

@media @tablet-width {
  .page-main {
    width: 768px;
  }

  .page-main__wrapper {
    width: 668px;
  }
}

@media @desktop-width {
  .page-main {
    width: 1150px;
  }

  .page-main__wrapper {
    width: 1050px;
  }
}
