.page-main {
  width: 320px;
  margin: 0 auto;
}

.page-main__wrapper {
  width: 260px;
  margin: 0 auto;
}

@media @tablet-width {
  .page-main {
    width: 768px;
  }

  .page-main__wrapper {
    width: 668px;

    &--gray {
      width: 100%;
      padding-left: 50px;
      padding-right: 50px;
      box-sizing: border-box;
      background-color: #f1f1f1;
    }
  }
}

@media @desktop-width {
  .page-main {
    width: 1150px;
  }

  .page-main__wrapper {
    width: 1050px;
  }
}
