.production {
  margin-bottom: 58px;
}

.production__wrapper {
  // padding-top: 25px;
  padding-right: 34px;
  // padding-bottom: 32px;
  padding-left: 34px;
  border: 1px solid #ececec;
}

.production__header {
  color: #000000;
  font-size: 17px;
  padding-left: 55px;
  padding-top: 9px;
  padding-bottom: 11px;
}

.production__video {
  position: relative; //для кнопки play
}

.production__video img {
  vertical-align: bottom;
}

.production__descr {
  margin-top: 26px;
  margin-bottom: 24px;
  font-size: 13px;
}

@media @tablet-width {
  .production {
    display: flex;
    flex-direction: column;
  }

  .production__video {
    order: -1;
  }

  .production__video img {
    width: 668px;
    height: 455px;
  }

  .production__wrapper {
    &--top {
      border-bottom: none;
      padding-bottom: 0;
    }
    &--bottom {
      border-top: none;
      padding-top: 0;
    }
  }

}

@media @desktop-width {
  .production {
    height: 455px;
    flex-wrap: wrap;
  }

  .production__wrapper {
    width: 366px;
    padding-left: 77px;
    padding-right: 56px;
    border-left: none;
    box-sizing: border-box;
  }

  .production__header {
    padding-left: 0;
  }

  .production__video img {
    width: 682px;
    height: 455px;
  }

  .production__descr {
    height: 261px;
  }

}
