.product {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 43px; //для зиг зага
}

.product__title {
  font-size: 25px;
  line-height: 30px;
  margin-top: 26px;
  margin-bottom: 5px;
  color: #000000;
}

.product__category {
  margin-top: 0;
  margin-bottom: 23px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.product__descr {
  margin-bottom: 17px;
}

.product__features {
  border-collapse: collapse;
  margin-bottom: 28px;
  td {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ececec;
  }
}

.product__feature {
  width: 97px;
}

.product__value {
  width: 163px;
}

.product__price {
  margin-top: 18px;
  margin-bottom: 25px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

@media @tablet-width {
  .product {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 537px;
    padding-left: 47px;
    padding-right: 50px;
    padding-top: 46px;
    padding-bottom: 44px;
  }

  .product__title {
    position: absolute;
    top: 46px;
    left: 47px;
    padding: 0;
    margin: 0;
    margin-bottom: 55px;
    font-size: 43px;
    line-height: 50px;
  }

  .product__category {
    order: 2;
    align-self: flex-end;
    width: 125px;
    margin-top: 8px;
    margin-bottom: 58px;
    text-align: center;
  }

  .product__descr {
    width: 300px;
    margin-top: 98px;
    margin-bottom: 34px;
    font-size: 17px;
    line-height: 30px;
  }

  .product__features {
    margin-bottom: 55px;
  }

  .product__img {
    width: 333px;
    height: 404px;
    order: 3;
    align-self: flex-end;
  }

  .product__price {
    width: 300px;
    margin: 0;
    margin-bottom: 34px;
    font-size: 20px;
    text-align: center;
  }

  .product__value {
    padding-right: 37px;
  }
}

@media @desktop-width {
  .product {
    height: 636px;
    padding-top: 0px;
    padding-bottom: 99px;
    padding-left: 225px;
    margin-bottom: 28px;
  }

  .product__title {
    top: 52px;
    left: 220px;
    font-size: 53px;
    line-height: 57px;
  }

  .product__category {
    position: absolute;
    top: 56px;
    left: 68px;
  }

  .product__descr {
    margin-top: 156px;
    margin-bottom: 49px;
  }

  .product__features {
    margin-bottom: 107px;
  }

  .product__img {
    width: 525px;
    height: 636px;
  }
}
