.social-link {
  position: relative; //для fb
  display: block;
  width: 24px;
  height: 35px;
  font-size: 0;

  &--fb .icon-fb {
    position: absolute;
    top: -6px;
    left: 4px;
  }

  &:hover path {
    fill: rgb(70, 193, 174);
  }
  &:active path {
    fill: rgba(70, 193, 174, 0.3);
  }
}
